NODE_ENV=development
PORT=7777
DATABASE_URL="postgresql://neondb_owner:06Kast-2.aws.neon.tech/neondb?sslmode=require"
CLIENT_URL=http://localhost:3000
API_VERSION=v1
GOOGLE_CLIENT_ID=4712gleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPX-W3aYcp5
GITHUB_CLIENT_ID=Ov23UOXz
GITHUB_CLIENT_SECRET=efa5a8a03af7e2360
CLOUDINARY_API_SECRET=I0XeYo
CLOUDINARY_API_KEY=31
CLOUDINARY_CLOUD_NAME=dvi0
JWT_SECRET=superkey
PAYMENT_SECRET_KEY=
PAYMENT_KEY_ID=
PAYMENT_WEBHOOK_SECRET=
PREMIUM_MONTHLY_PRICE=1
PREMIUM_YEARLY_PRICE=10
AI_KEY=AI


